.inputSection {
  border: 1px solid red;
  min-width: 50%;
}
.mainDisplay {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.displaySection {
  border: 1px solid black;
  min-width: 50%;
}
.appName {
  width: 300px;
  margin: auto;
  padding: 10px 0 10px 0;
}
