.inputSection {
  min-width: 15%;
}
.mainDisplay {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.displaySection {
  /* border: 1px solid black; */
  min-width: 50%;
}
.appName {
  width: 300px;
  margin: auto;
  padding: 10px 0 10px 0;
}
.name-container {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-between;
}
.personalInfoInputs {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0e374e;
  min-height: 150px;
  color: white;
}
.email {
  width: 50%;
  margin: auto;
  justify-content: center;
  display: flex;
}
.phone-location {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-between;
}
.tech-skills-section {
  display: flex;
  flex-direction: column;
}
